**SECTION 1 Python Revision**

In [20]:
#Difference between .append and l
mylist = [1,2,3,4]

In [21]:
mylist.append("d")
#adds the given value in list.
#Note- the more you run this the more time it will add the value to list
# run once it will add one 'd', run twice and it will add another'd' to the same list

In [22]:
mylist

[1, 2, 3, 4, 'd']

In [2]:
#List
a = [1,2,3,4]
a

[1, 2, 3, 4]

In [8]:
#Dictionary
#key-value pair
b = {'key1':'a','key2':'b'}
b

{'key1': 'a', 'key2': 'b'}

In [10]:
b['key2']

'b'

In [11]:
#Tuple
c = (1,2,3)
c

(1, 2, 3)

In [13]:
#Sets
#Doesnt include repeated values
d = {1,2,1,2,3,4}
d

{1, 2, 3, 4}

In [18]:
#for loops
seq = [1,2,3,4,5]
for x in seq:
    print(x)

1
2
3
4
5

In [24]:
#while loop
i = 1
while i<5:
    print('hi')
    i=1+i

hi
hi
hi
hi

In [25]:
#range
range(5)

range(0, 5)

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
list(range(5))

[0, 1, 2, 3, 4]

In [29]:
#list comprehension
out = []
x = [1,2,3,4]
for new in x:
    out.append(new**2)
print(out)

[1, 4, 9, 16]

In [32]:
#to write above code in single line is called list comprehension
out2=[new1**2 for new1 in x]
#out2=[(final result you want) for variable in x]
print(out2)

[1, 4, 9, 16]

In [36]:
#functions
#default name is the value is no arguement is passed to function or else it will throw error if users passes nothing to it
def myfunc(name='default name'):
    print("My name is {}".format(name))

In [40]:
myfunc()
myfunc('hrishi')

My name is default name
My name is hrishi

In [41]:
def times2(var):
    return var**2

In [50]:
#function with list comprehension
j = [1,2,3,4]
out3= [(times2(v)) for v in j]
print(out3)

[1, 4, 9, 16]

In [47]:
out = []
k = [1,2,3,4]
for new in k:
    out.append(times2(new))
print(out)

[1, 4, 9, 16]

In [55]:
#map
#It is used to apply a function to list in one step

list3 = [1,2,3,4]
b = map(times2,list3)
#map(function,list)
b

In [56]:
list(b)

[1, 4, 9, 16]

In [60]:
#lambda expression
#when theres no need to define an entire function but you need to get the job done

list(map(lambda num: num**2,list3))

#def function(num)
#      return num**2
#
#      is equal to
#
#  lambda num: num**2

[1, 4, 9, 16]

In [ ]:
#filter
#shows things based on conditions passed
filter

In [63]:
list(filter(lambda num: num%2 == 0,list3))
#only returned even numbers because of conditon

[2, 4]

In [64]:
#String Methods
string1 = 'My name is # hrishi pawar'
string1.split()
#string1. press tab to see all methods

['My', 'name', 'is', '#', 'hrishi', 'pawar']

In [66]:
string1.split('#')
#splits at value passed

['My name is ', ' hrishi pawar']

In [68]:
#String methods for dictionary
dd = {'a': 1, 'b':2, 'c':3}
dd

{'a': 1, 'b': 2, 'c': 3}

In [71]:
dd.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [72]:
dd.keys()

dict_keys(['a', 'b', 'c'])

In [73]:
dd.values()
#wont give in order

dict_values([1, 2, 3])

In [75]:
#String methods for list
list = [1,2,3,4]
list.pop()
#will remove last item and the change will be permanent

4

In [76]:
# in operator
#to check something this is used

jk = [1,2,3,4,'a','b','c']

In [77]:
"c" in jk

True

In [78]:
'f' in jk

False

In [79]:
'A' in jk

False

In [86]:
#Tuple unpacking

list4 = [(1,4),(2,5),(3,6)]

for (a,b) in list4:
    print(a)

1
2
3

In [87]:
for (a,b) in list4:
    print(b)

4
5
6