In [ ]:
GROUP BY vs ORDER BY
0 as tablename

CRUD
C- Create
R- Retrieve
U- Update
D- Delete

Types of Database-
1. Relational
2. NoSQL
3. Hierarchical 
4. Network

In [ ]:
What is database?
A collection of related information.

cloumn = attribute

In [ ]:
cmd commands-
use databasename
DELIMITER -- ;

In [ ]:
• cardinality- no. of rows
• degree- no. of columns

• data integrity- Data integrity refers to maintaining and assuring the accuracy and consistency of data 
                 over its entire life-cycle.
    
• constraint- Database Systems ensure data integrity through constraintswhich are used to restrict data 
             that can be entered ormodified in the database. Database Systems offer threetypes of 
             integrity constraints.

• Three types of integrity-
 a) Entity integrity- one or more column which can uniquely identify rows. (Primary key)
 b) Domain integrity- same data type throughout the column. (Data types)
 c) Referential integrity- value of one column in a table should exist in other table as column. (Foreign key)

In [ ]:
• Database keys- A DBMS key is an attribute or set of attributes which helps us uniquely identify a row in a relation/table.
                 Eg. Primary, Foreign key

• Why do we need Keys-
 a)To uniquely identify a row
 b)To enforce Data Integrity and constraints
 c)To establish relationship between tables
    
• Types of Keys-
 a)Super Key      b)Candidate Key
 c)Primary Key    d)Alternate Key
 e)Foreign Key    f)Composite Key
 g)Compound Key   h)Surrogate Key

In [ ]:
  a)Super Key-     An attribute or a set of attributes that can be use to identify row of data in a table is a super key.
                   In short its combination of multiple keys.
    
  b)Candidate key- It is nothing but minimal subset of super key. If any proper subset of a super key is a super key then
                   that key cannot be a candidate key.
                   In short base keys are candidate keys who later combined together form super key. two or more combined keys 
                   cant be candidate keys.
  c)Primary Key-   The candidate key chosen to uniquely identify each row of data in a table is called primary key.
                   No two rows can have the same primary key value, primary key valuecannot be NULL and every row must have
                   a primary key.
        
  d)Alternate Key- Candidate keys which arent chosen as Primary key are termed as Alternate keys.

  e)Foreign Key-   It is an attribute in a table which is used to define its relationship with another table. Using foreign
                   key helps in maintaining data integrity for tables in relationship.
        
  f)Composite Key- Any primary key with more than one attribute is called Composite Key. In the above example
                   (SID, REG_ID), (REG_ID, EMAIL), (EMAIL, SID), (SID, REG_ID, EMAIL) etc all are composite keys.

  g)Compound Key-  If a composite key has at-least one attribute which is a foreign key then it is called as Compound Key.
                   In the above example if we have a composite key (REC_ID, BRANCH_CODE) then it will be known as a
                   Compound Key because BRANCH attribute is a Foreign Key.
        
  h)Surrogate Key- If a relation has no attribute which can be used to identify the data stored in it, then we create
                   an attribute for this purpose. It adds no meaning to the data but serves the sole purpose of identifying
                   rows uniquely in a table.
        
  g)Natural Key-   Primary key which has real meaning in real life and is related ot database. Eg. adhar card no. as primary key
        
Source- https://youtu.be/p3yJZH8_bsc

In [ ]:
Query- A query is a set of instructions given to the RDBMS (written is  SQL) that tell the RDBMS what information you want it to
retrieve for you

UNION Restrictions-
same columns
same data type

In [ ]:
KEYOWRDS-
CREATE TABLE
DROP TABLE
PRIMARY KEY
DESCRIBE
ALTER
ADD
NULL
UNIQUE
DEFAULT
AUTO_INCREMENT
LIMIT 2
DISTINCT -- categories
COUNT(column name) -- SELECT COUNT(column name) FROM table name;
AVG(column name)
SUM(column name)
GROUPBY(column name)
LIKE -- used with wild cards
UNION
JOIN, LEFT JOIN, RIGHT JOIN
IN
IF, ELSE, ELSEIF

In [ ]:
== #comment
<> #not equal to

In [ ]:

INT
VARCHAR(1)
DECIMAL(M,N)
BLOB
DATE
TIMESTAMP

In [ ]:
COMMANDS-
to create table- CREATE TABLE tablename(atrb1, atrb2);
to set primary key- PRIMARY KEY(table name)
to show table blueprint- DESCRIBE tablename;
to show table values- SELECT * FROM tablename;
to delete table- DROP TABLE tablename;
to add column in table- ALTER TABLE tablename ADD newcolumn name dataytype;
to remove column in table- ALTER TABLE tablename DROP COLUMN column name;
to insert data/row in table- INSERT INTO tablename VALUES(x,y,z); based on format of your table
to insert data but with null- INSERT INTO tablename(column1,column2) VALUES(x,y)
tO update- UPDATE tablename
           SET x column name = 'new value'
           WHERE x column name = 'old value'
To delete from table- DELETE FROM tablename
                    condition
To delete evey value in table- DELETE FROM tablename
to get values equal to list- WHERE columnname IN ('abc', 'def','ghi')
while setting foreign key use at the end for primary key- ON DELETE SET NULL #if value is deleted then it replaces it with null
while setting foreign key use at the end for compound keys- ON DELETE CASCADE #if value is deleted then whole row is deleted
to edit a table- ALTER TABLE tablename
to temp rename column- SELECT col1 AS xyz
to get values matching to certain words- LIKE '%yourstring%'    # % Is any characters
to get values matching to certain words- LIKE '__m%'    --word is Tommy
DROP TRIGGER triggername

In [ ]:
to get values in order- ORDER BY column name,column name2 DESC/ASC [column2 if there is chances of similar values in col1]

In [ ]:
tablename.columnname

In [ ]:
627. Swap Salary
https://leetcode.com/problems/swap-salary/
    
UPDATE Salary
SET sex = CASE sex
          WHEN 'm' THEN 'f'
          ELSE 'm'
END;